.sections-nav {
    padding: 10px 60px;
    border-bottom: 1px solid $light-gray;
}

.sections-nav-links {
    display: flex;
    justify-content: space-around;
    font-size: 12px;
    font-family: $sans-serif;

    a:hover {
        background-color: $light-gray;
        text-decoration: none;
    }
    
    li:last-child a {
        font-size: 10px;
    }

    li:last-child a:hover {
        background-color: transparent;
        text-decoration: underline;
    }
}


